{% extends 'base.html.twig' %}

{% block title 'Fuse | éditer ressource' %}

{% block body %}
    <div class="container mt-4">
        <h1>Éditer la proposition</h1>
        <div class="container">
            div
        </div>

        {{ form_start(form_proposal) }}
        <input type="submit" name="submit_button" value="BOUM" class="btn btn-dark" />


        {{ form_end(form_proposal) }}
    </div>


{% endblock %}